<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310440041235-d2eq3toinin3miqc1kgiqqcrm50gnpbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310440041235-d2eq3toinin3miqc1kgiqqcrm50gnpbd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310440041235-son8tp5vm90hk5rh6fk41o2et0t9uc27.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB24vAzuS9SkQwcthEqYvwTDFLDiErTOWE</string>
	<key>GCM_SENDER_ID</key>
	<string>310440041235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikontechnologies.bentonnissancolumbia.connect</string>
	<key>PROJECT_ID</key>
	<string>ikon-connect-wl-003</string>
	<key>STORAGE_BUCKET</key>
	<string>ikon-connect-wl-003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310440041235:ios:9e3016ac26f3fe1fac98e6</string>
</dict>
</plist>