<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310440041235-nvjkp4hv0ep0o35h41qop453hdiuqr9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310440041235-nvjkp4hv0ep0o35h41qop453hdiuqr9m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310440041235-8pjfcri3i0thjlfsiphi2foctjn4ehut.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB24vAzuS9SkQwcthEqYvwTDFLDiErTOWE</string>
	<key>GCM_SENDER_ID</key>
	<string>310440041235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikontechnologies.robertourismanjr.connect</string>
	<key>PROJECT_ID</key>
	<string>ikon-connect-wl-003</string>
	<key>STORAGE_BUCKET</key>
	<string>ikon-connect-wl-003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310440041235:ios:8a66ac0dd6b99cf2ac98e6</string>
</dict>
</plist>